In [9]:
lidtname=[]
l=""
for i in range(0,5):
    #l=input("Enter the user name : ")
    lidtname.append(input("Enter the user name : "))

Enter the user name : t
Enter the user name : t
Enter the user name : t
Enter the user name : t
Enter the user name : t

In [10]:
lidtname

['t', 't', 't', 't', 't']

In [11]:

lidtname=[]
res=0
for i in range(0,5):
    #l=input("Enter the user name : ")
    lidtname.append(input("Enter the user name : "))
    if len(lidtname[i])>res:
        res=lidtname[i]

Enter the user name : gdgd
Enter the user name : dggdg

TypeError: '>' not supported between instances of 'int' and 'str'

In [7]:
def Max():
    li=[]
    res=0
    for i in range(5):
        li.append(input('enter a name: '))
        if len(li[i])>res:
            res=len(li[i])
            temp=li[i]
    return temp

Max()

enter a name: hddff
enter a name: fs
enter a name: ffsdf
enter a name: sdf
enter a name: sf

'hddff'

In [8]:
#lamda
l=lambda a,b,c,d:a*b*c/d

In [9]:
l(5,6,5,6)

25.0

In [12]:
l1=[]
for i in range(5):
    l1.append(int(input("Number")))

Number56
Number65
Number42
Number65
Number26

In [21]:
z=lambda :"Even" if i%2==0 else "odd"

In [22]:
for i in l1:
    z()

In [ ]:
### craete an empty list
## ask the user 5 times to input any number 
## use lambda function to test for odd and even and pass that number4 to another list calling odd /even

In [30]:
n=2
is_even=lambda n: n%2==0

odd=[]
even=[]

In [31]:
for i in l1:
    if is_even(i):
        odd.append(i)
    else:
        even.append(i)

In [32]:
print(odd)
print(even)

[56, 42, 26]
[65, 65]

In [39]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 1,numbers))

In [36]:
even_numbers

[1, 3, 5, 7, 9]

In [40]:
odd=list(filter(lambda n:n%2==1,l1))

In [41]:
odd

[65, 65]

In [45]:
userdata=eval(input("Enter the details of user usage"))
usage=0
if userdata<=100:
    print("No Charge Its free")
elif userdata>100 and userdata<=200:
    if userdata==200:
        usage=100*5
    else:
        usage=(userdata-100)*5
elif userdata>200:
    usage=100*5+(userdata-200)*10
print(usage)

Enter the details of user usage350
2000

In [13]:
list1=[2,5,6,4,5,1]
res=0
for i in list1:
    res=res+i

In [4]:
res

22

In [7]:
res1=1
for i in list1:
    res1=res1*i

In [8]:
res1

1200

In [9]:
temp=0
for i in list1:
    if i>temp:
        temp=i

In [10]:
temp

6

In [34]:
list1=[222,21,56]
temp1=list1[0]
for i in list1:
    if i<temp1:
        temp1=i

In [35]:
temp1

21

In [1]:
#Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).
count=1500
while count<2700:
    if count%7==0 and count%5==0:
        print(count)
    count=count+1

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [6]:
user=eval(input("Eneter the degree"))
user1=input("C or F")
if user1=="C":
    c = (user-32/9)*5
    print(c)
elif user1=="F":
    f=user/5-32/9
    print(f)

Eneter the degree56
C or FC
262.22222222222223