In [1]:
list1=[5,45,56,51,"Thermax"]
list1.append("[Sansera]")

In [2]:
list1

[5, 45, 56, 51, 'Thermax', '[Sansera]']

In [23]:
list1=[5,45,56,51,"Thermax"]
list1.extend(['HEllo',5,6,6])

In [24]:
list1

[5, 45, 56, 51, 'Thermax', 'HEllo', 5, 6, 6]

In [29]:
str1 = "Welcome to USA. usa awesome, isn't it?"
str1=str1.split()
str1

['Welcome', 'to', 'USA.', 'usa', 'awesome,', "isn't", 'it?']

In [30]:
str1.count("USA")

0

In [32]:
str1 = "Welcome to USA. usa awesome, isn't it?"
str2=str1.upper()
str2.count("USA")

2

In [40]:
str1 = "PYnative29@#8496"
res=0
count=0
for i in range(len(str1)):
    if str1[i].isdigit():
        count=count+1
        res=res + int(str1[i])
print(res/count)

6.333333333333333

In [38]:
res

38

In [50]:
str1 = "BANANA"
for i in range(len(str1)):
    c=str1.count(str1[i])
    print(str1[i]," is ",c)

B  is  1
A  is  3
N  is  2
A  is  3
N  is  2
A  is  3

In [51]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
str1.rfind("Emma")

43

In [58]:
str1 = "Emma-is-a-data-scientist"
str1=str1.split("-")

In [60]:
for i in str1:
    print(i)

Emma
is
a
data
scientist

In [69]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
for i in range(len(str_list)):
    
    if str[i]=="":
        del str[i]

TypeError: type 'str' is not subscriptable

In [68]:
str_list

['Emma', 'Jon', '', 'Kelly', None, 'Eric', '']

In [80]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
str_list=list(filter(None,str_list))
str_list

['Emma', 'Jon', 'Kelly', 'Eric']

In [74]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
res_list = []
for s in str_list:
    # check for non empty string
    if s:
        res_list.append(s)
print(res_list)

['Emma', 'Jon', 'Kelly', 'Eric']

In [87]:
str1 = "/*Jon is @developer & musician"
str2=""
for char in str1:
    if char.isalpha() or char.isnumeric() or char==" ":
        str2+=char
    else:
        str2+=char.replace(char,"")
str2

'Jon is developer  musician'

In [85]:
str1 = "/*Jon is @developer & musician"
str2=""
for char in str1:
    if char.isalpha() or char.isnumeric() or char==" ":
        str2+=char.replace(char,"")
str2

''

In [89]:
str1 = 'I am 25 years and 10 months old'
str2=""
for char in str1:
    if char.isnumeric():
        str2+=char
str2

'2510'

In [95]:
str1 = 'I am 25 years and 10 months old'
str1=str1.split()
for char in str1:
    print(char)

I
am
25
years
and
10
months
old

In [102]:
str1 = "Emma25 is Data scientist50 and AI Expert"
str2=str1.split()
print(str2)
for char in str2:
    if char.isnumeric() or char.isalpha():
        pass
    else:
        print(char)

['Emma25', 'is', 'Data', 'scientist50', 'and', 'AI', 'Expert']
Emma25
scientist50

In [108]:
str1 = '/*Jon is @developer & musician!!'
str2=""
for char in str1:
    if char.isalnum() or char==" ":
        str2+=char
    else:
        str2=str2+char.replace(char,"#")
print(str2)

##Jon is #developer # musician##

In [109]:
for i in enumerate(str1):
    print(i

(0, '/')
(1, '*')
(2, 'J')
(3, 'o')
(4, 'n')
(5, ' ')
(6, 'i')
(7, 's')
(8, ' ')
(9, '@')
(10, 'd')
(11, 'e')
(12, 'v')
(13, 'e')
(14, 'l')
(15, 'o')
(16, 'p')
(17, 'e')
(18, 'r')
(19, ' ')
(20, '&')
(21, ' ')
(22, 'm')
(23, 'u')
(24, 's')
(25, 'i')
(26, 'c')
(27, 'i')
(28, 'a')
(29, 'n')
(30, '!')
(31, '!')