In [ ]:
a=[255,22,453435,212]
sorted(a,reverse=True)

In [ ]:
abs(-12553.26)

In [ ]:
round(323.121513)

In [ ]:
ord('4')

In [ ]:
pow(56,2250)

In [ ]:
22/7

In [ ]:
a.items()

In [ ]:
chr(5446)

In [ ]:
user=int(input("Enter the number "))
if user%2==0:
    print("Even")
else:
    print("Odd")

In [ ]:
user=int(input("Enter the number "))
if user>0 or user<0 or user==0:
    if user<100:
        print("Less than 100")
    elif user>100:
        print("greater than 100")
    else:
        print("Equal to 100")

In [ ]:
    else:

In [ ]:
user=int(input("Enter the number "))
if user>0 :
    print("Positive")
    if user<100:
        print("Less than 100")
    elif user>100:
        print("greater than 100")
    else:
        print("Equal to 100")
else:
    print("Negative number")

fORMATING

In [4]:
a=56

In [5]:
b="Batch"

In [6]:
print(f"My number is {a} in {b}")

My number is 56 in Batch

In [7]:
print("My number is {} in {} is {}".format(b,a,a))

My number is Batch in 56 is 56

In [24]:
print("My number %s in %d" % (b,a))

My number Batch in 56

In [1]:
i=0
while i<5:
    print(i)
    i+=1

0
1
2
3
4

In [10]:
i=10
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [33]:
i=0
while i<10:
    if i%2==0:
        print(f"EVEN is {i}")
    else:
        print(f" ODD is {i}")
    i+=1

EVEN is 0
 ODD is 1
EVEN is 2
 ODD is 3
EVEN is 4
 ODD is 5
EVEN is 6
 ODD is 7
EVEN is 8
 ODD is 9

In [2]:
list(range(2,10,2))

[2, 4, 6, 8]

In [5]:
for i in range(3,10,2):
    print(i)

3
5
7
9

In [10]:
a="4554"
for var in a:
    if var.isdigit():
        
        print(var)

4
5
5
4

In [32]:
a=20
b=56
print("The number ",a,"is",b)
print(f"The number {a} is {b} ")

The number  20 is 56
The number 20 is 56

In [16]:
print("The number is {} is {}".format(a,a))

The number is 5 is 5

In [28]:
print("The number is %d gu %d" %(5,20))

The number is 5 gu 20

In [1]:
a=0
while a<10:
    print(a)
    a=a+1

0
1
2
3
4
5
6
7
8
9

In [3]:
user=0
a=0
b=0

for i in range(len(user)):
    
    print(b)
    user=int(input())
    user=int(user)
    if user<0:
        break
    else:
        a=a+user
        print(a)

TypeError: object of type 'int' has no len()

In [12]:
a="1"
len(a)

1

In [7]:
a=1
b=0
while a>0:
    a=int(input("User"))
    if a>0:
        b=b+a
        print(b,"sum")
    else:
        break
print(b)

User5
5 sum
User10
15 sum
User12
27 sum
User-5
27

In [38]:
b=""
count=0
for i in range(100):
    
    a=str(i)
    #rint(type(a))
    if "3" in a:
        b=b+" "+a
        count=count+1
print(count)
b=b.split(" ")

19

In [41]:
b=[]
c=0
for i in range(100):
    c=0
    a=str(i)
    #rint(type(a))
    if "3" in a:
        print(a)
        b.append(a)
print(b)

3
13
23
30
31
32
33
34
35
36
37
38
39
43
53
63
73
83
93
['3', '13', '23', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '43', '53', '63', '73', '83', '93']

In [57]:
b=[]
d=[]
c=0
for i in range(100):
   
    a=str(i)
    #rint(type(a))
    if "3" in a:
        c=c+int(a)
        b.append(c)
        d.append(a)
print(b)
print(d)
print(c)

[3, 16, 39, 69, 100, 132, 165, 199, 234, 270, 307, 345, 384, 427, 480, 543, 616, 699, 792]
['3', '13', '23', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '43', '53', '63', '73', '83', '93']
792

In [7]:
a=input("Enter the number ")
b=""
c=""
for i in range(len(a)):
    b=a.index(a[i])
    print(i)
    if i%2==0:
        b=b+a[i]
    else:
        c=c+a[i]

Enter the number dgsgk
0

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
a="hhdfhd,"
a.index(a[0])

0